################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/__pycache__
/webdata25
/webdata25a
/PopulationByCountry.csv
